<?xml version="1.0" encoding="utf-8"?>

<!-- Config file for the game -->

<config>
  <fullscreen>false</fullscreen>
  <borderless>false</borderless>
  <resizable>true</resizable>
  <fullscreen_wnidow>false</fullscreen_wnidow>
  <title>XML Game Test</title>
  <width>1024</width>
  <height>768</height>
  <scale>1</scale>
  <audio>
    <music_volume>128</music_volume>
    <fx_volume>128</fx_volume>
  </audio>
</config>
